$primary: #466CA4;
$secondary: #FFE074;
$tertiary: #FF8267;
$gray: #525C6A;
$light-gray: #CECECE;
$light: #F8F8F8;
$success: #4EAE38;
$danger: #F35757;
$input-border-color: #80bdff;
$input-box-shadow-color: rgba(0, 123, 255, .25); 
$border-color: #A2A5AA;
$overlay-color: rgba(0, 0, 0, 0.24);
$error: #FF355B;
$warning: #E8B910;
$success: #00CC69;
$default: #0067FF;